<h2><%=l(:label_address_books)%></h2>



<div class="autoscroll">
<table class="list">
  <thead><tr>
  <%= sort_header_tag('login', :caption => l(:field_login)) %>
  <%= sort_header_tag('mail', :caption => l(:field_mail)) %>
  <%User.current.visible_custom_field_values.each do |custom_value| %>
  <%=sort_header_tag h(custom_value.custom_field.name)  if Setting.plugin_address_books['ADDRESS_BOOKS_FIELD'].include? custom_value.custom_field.id.to_s %>
  <% end %>
  </tr>
</thead>

  <tbody>
<% for user in @users -%>
  <tr class="<%= user.css_classes %> <%= cycle("odd", "even") %>">
  <td class="username"><%= avatar(user, :size => "14") %><%= link_to h( user.lastname + user.firstname), user_path(user) %></td>
  <td class="email"><%= mail_to(h(user.mail)) %></td>
   
 <% user.visible_custom_field_values.each do |custom_value| %>
 <%if Setting.plugin_address_books['ADDRESS_BOOKS_FIELD'].include? custom_value.custom_field.id.to_s%>
  <td align="center">
	<%=h show_value(custom_value)  %>
  </td>
 <% end %>
 <% end %>

  </tr>
<% end -%>
  </tbody>
</table>
</div>
<p class="pagination"><%= pagination_links_full @user_pages, @user_count %></p>

<% html_title(l(:label_address_books)) -%>
